.carousel-indicators li {
    background-color: #171515;
}
.carousel-control-next-icon{
    background-image: url("https://img.icons8.com/ios/50/000000/circled-chevron-right.png");
}
.carousel-control-prev-icon{
    background-image: url("https://img.icons8.com/ios/50/000000/circled-chevron-left.png");
}